@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.header {
  background-color: none;
  @include flex(row, space-between, center, nowrap);
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 24px;
  margin-top: 24px;
  gap: 100px;
  @include tablet {
    margin: 36px 24px;
    @include desktop {
      margin: 48px 48px;
    }
  }
  &__title {
    @include mobile-wordmark;
    color: $primary-color1;
    @include tablet {
      @include desktop-wordmark;
    }
  }
}
